---
title: Forgot Password
layout: login.hbs
---
<div class="reset-password-instructions">
<a href="index.html"> To Login Page</a>
<details>
  <summary>Click here for Instructions</summary>
  <p> Password should contain atleast one alphabet, one number and one of these characters(!, #, @, &)
     and should be of length 7 to 13.</p>
</details>
</div>
  <form class="login-form">
    <div>
        <span class="login-pwd"><i class="fa fa-lock" aria-hidden="true"></i></span>
        <input type="password" class="new-password" name="password" placeholder="New Password" tabindex="1" >
    </div>
      <div>
          <span class="login-pwd"><i class="fa fa-lock" aria-hidden="true"></i></span>
          <input type="password" class="confirm-new-password" name="password" placeholder="Confirm New Password" tabindex="2" >
      </div>
      <input type="button" class="login-button submit-forgot-password" value="SUBMIT" tabindex="3">

  </form>
