---
title: inner page
layout: default.hbs
---
<div class="inner-page-wrapper">
    <div class="col-xs-12 hidden-xs supervisee-profile">
        {{>profile-section}}
    </div>
    <div class="col-xs-12 inner-page-edit-skill">
        {{>edit-skills}}
    </div>
</div>
