<header class="modal-header">Add New Skills</header>
<main class="modal-body">
  <div class="primary-skills-div">

        <!-- <input type="text" placeholder="Add Skill"> -->
        <select class="primary-skills">
            <option value="0">Add Skill</option>
            <option value="HTML5">HTML5</option>
            <option value="CSS3">CSS3</option>
            <option value="JavaScript">JavaScript</option>
        </select>

    </div>
    <div class="primary-sub-skills-div">
        <!-- <input type="text" placeholder="Subskill"> -->
        <select class="primary-sub-skills"></select>
        <a href="#" id="add-subskill-button" tabindex="0" class="add-more-skills">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
    <div class="custom-primary-skills" >
      <a href="#" id="add-subskill-button" tabindex="0" class="add-more-skills">
          <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    </div>

   <div class="secondary-skills-div">
          <select class="secondary-skills">
              <option value="0">Add Skill</option>
              <option value="Framework">Framework</option>
              <option value="Software Designing">Software Designing</option>
              <option value="Test">Test</option>
              <option value="jQuery">jQuery</option>
                    </select>
                  </div>
        <div class="secondary-sub-skills-div">
          <select class="secondary-sub-skills"></select>
          <a href="#" id="add-subskill-button" tabindex="0" class="add-more-skills">
              <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </div>
        <div class="custom-secondary-skills" >
          <a href="#" id="add-subskill-button" tabindex="0" class="add-more-skills">
              <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </div>


</main>
<footer class="modal-footer">
    <i class="fa fa-stop-circle" aria-hidden="true"></i>
    <input type="button" value="Save" class="add-skill">

</footer>
