<section id="modal-overlay">
    <section id="add-skills-modal" class="modal">
        {{> add-skills-modal}}
    </section>
    <section id="notification-modal" class="modal">
        {{> notification-modal}}
    </section>
    <section id="update-profile-modal" class="modal">
        {{> update-profile-modal}}
    </section>
</section>
