<header class="dashboard-header">
    <div class="logo-container">
        <a href="http://www.publicis.sapient.com"><img class="sapient-logo" src="../../images/sn-logo.png" alt="sapient logo"/></a>
    </div>

    <section>
        <div>
        <div class="user-options">
            <div class="user-name drop-down"></div>
            <div class="dropdown">
                <div class="display-icon"><i class="fa fa-angle-down drop-down" style="font-size:23px"></i></div>
                <div id="dropdown-menu" class="dropdown-content">
                    <div class="dropdown-hover" id="update-profile"><img class='userimage-size' src="" alt="user image"/><span class="my-profile">MyProfile</span></div>
                    <div class="dropdown-hover"><i class="fa fa-question-circle icon-color" aria-hidden="true"></i><span class="help-position">Help</span></div>
                    <div class="dropdown-hover logout"><i class="fa fa-lock lock-position icon-color" aria-hidden="true"></i><span class="logout-position">Logout</span></div>
                </div>
            </div>
        </div>
        <img class="user-image drop-down" src="" alt="user thumbnail image"/>
        </div>
    </section>
</header>
