<header class="modal-header"></header>
<main class="modal-body"><p></p></main>
<footer class="modal-footer">

  <i class="fa fa-times close-button" aria-hidden="true"></i>
  <input type="button" value="Close" class="close-button">

  <i class="fa fa-check yes-button" aria-hidden="true"></i>
  <input type="button" value="Yes" class="yes-button">

  <i class="fa fa-times no-button" aria-hidden="true"></i>
  <input type="button" value="No" class="no-button">
</footer>
