<div class="container">
    <div class="row">
        <div  class="profile-picture  col-sm-12"> <img class="profile-pic" src=""> </div>
        <div   class="profile-details col-sm-12">
            <form>
                <p>
                    <label class="supervisor-name-label"></label>
                </p>

                <p>
                    <label class="supervisor-empid-label"></label>
                </p>
                <p>
                    <label class="supervisor-email-label"></label>
                </p>
                <p>
                    <label class="supervisor-role-label"></label>
                </p>
                <p>
                    <label class="supervisor-address-label"></label>
                </p>

            </form>
        </div>
    </div>
</div>
