<section class="container supervisee">
  <div class="row">
    {{>search}}
  </div>
    <div class="row supervisee-list-container">
        <div class="col-md-10">
            <div class="row">
                <h4>Your Supervisees</h4>
            </div>
            <!--Fixed header for supervisee List -->
            <div class="row row-fixed hidden-xs hidden-sm">
                <div class="supervisee-id col-xs-12-12 col-sm-3">EMP. ID</div>
                <div id="supervisee-name" data-order="asc" class="supervisee-name col-xs-12 col-md-2" title="Sort By Name">EMP. NAME &nbsp<i class="fa fa-caret-up" aria-hidden="true"></i></div>
                <div class="supervisee-role col-xs-12 col-sm-2">ROLE</div>
                <div class="supervisee-views col-xs-12 col-sm-3">ACTION</div>
            </div>
            <!-- Dynamic Supervisee List based on loggedin Supervisor-->
            <div class=" row supervisee-list "> </div>
        </div>
        <div class="alphabets-list hidden-xs hidden-sm col-md-1 ">
            <p><a href="#a ">A</a></p>
            <p><a href="#b ">B</a></p>
            <p><a href="#c ">C</a></p>
            <p><a href="#d ">D</a></p>
            <p><a href="#e ">E</a></p>
            <p><a href="#f ">F</a></p>
            <p><a href="#g ">G</a></p>
            <p><a href="#h ">H</a></p>
            <p><a href="#i ">I</a></p>
            <p><a href="#j ">J</a></p>
            <p><a href="#k ">K</a></p>
            <p><a href="#l ">L</a></p>
            <p><a href="#m ">M</a></p>
            <p><a href="#n ">N</a></p>
            <p><a href="#o ">O</a></p>
            <p><a href="#p ">P</a></p>
            <p><a href="#q ">Q</a></p>
            <p><a href="#r ">R</a></p>
            <p><a href="#s ">S</a></p>
            <p><a href="#t ">T</a></p>
            <p><a href="#u ">U</a></p>
            <p><a href="#v ">V</a></p>
            <p><a href="#w ">W</a></p>
            <p><a href="#x ">X</a></p>
            <p><a href="#y ">Y</a></p>
            <p><a href="#z ">Z</a></p>
        </div>
    </div>
</section>
