---
title: update profile modal
layout: default.hbs
---

<div class="update-form" style="color:white;display:none">
<form action="#">
  name:<br>
  <input class="supervisor-name-label" type="text" name="firstname">
  <br>
  emp id:<br>
  <input class="supervisor-empid-label" type="text" name="lastname" disabled>
  <br>
     email:<br>
  <input class="supervisor-email-label" type="text" name="firstname">
  <br>
     Role:<br>
  <input class="supervisor-role-label" type="text" name="firstname">
  <br>
     Address:<br>
  <input class="supervisor-address-label" type="text" name="firstname">
  <br>
  Photo:<br>
<input class="supervisor-image" name="b" type="file" accept="">
    <br>
  <input id="save-btn" type="button" value="Save">
</form>
</div>
