<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="styles/main.css" media="screen" title="no title">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <article class="container login-wrapper">
      <div class="row">
        <section class="login-header col-sm-12 col-md-5">
            <div class="sapientnitro-logo">
                <img src="../../images/sapientnitro-logo.png" alt="Sapient Nitro Logo">
            </div>
            <div class="project-title">
                <p>COMPETENCY MATRIX</p>
            </div>
        </section>

        <section class="login-body col-sm-12 col-md-5 col-md-offset-2">
                 {% body %}
            <div class="validation-message"></div>
        </section>

      </div>
    </article>

    <footer>

    </footer>
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script src="scripts/main.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>

</body>

</html>
