@font-face {
  font-family: 'SapientCentroSlab-XThinItalic';
  src: url('SapientCentroSlab-XThinItalic.eot');
  src: url('SapientCentroSlab-XThinItalic.woff2') format('woff2'),
       url('SapientCentroSlab-XThinItalic.woff') format('woff'),
       url('SapientCentroSlab-XThinItalic.ttf') format('truetype'),
       url('SapientCentroSlab-XThinItalic.svg#SapientCentroSlab-XThinItalic') format('svg'),
       url('SapientCentroSlab-XThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SapientCentroSlab-XThin';
  src: url('SapientCentroSlab-XThin.eot');
  src: url('SapientCentroSlab-XThin.woff2') format('woff2'),
       url('SapientCentroSlab-XThin.woff') format('woff'),
       url('SapientCentroSlab-XThin.ttf') format('truetype'),
       url('SapientCentroSlab-XThin.svg#SapientCentroSlab-XThin') format('svg'),
       url('SapientCentroSlab-XThin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab-UBlack';
  src: url('SapientCentroSlab-UBlack.eot');
  src: url('SapientCentroSlab-UBlack.woff2') format('woff2'),
       url('SapientCentroSlab-UBlack.woff') format('woff'),
       url('SapientCentroSlab-UBlack.ttf') format('truetype'),
       url('SapientCentroSlab-UBlack.svg#SapientCentroSlab-UBlack') format('svg'),
       url('SapientCentroSlab-UBlack.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab-UBlackItalic';
  src: url('SapientCentroSlab-UBlackItalic.eot');
  src: url('SapientCentroSlab-UBlackItalic.woff2') format('woff2'),
       url('SapientCentroSlab-UBlackItalic.woff') format('woff'),
       url('SapientCentroSlab-UBlackItalic.ttf') format('truetype'),
       url('SapientCentroSlab-UBlackItalic.svg#SapientCentroSlab-UBlackItalic') format('svg'),
       url('SapientCentroSlab-UBlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab-ThinItalic';
  src: url('SapientCentroSlab-ThinItalic.eot');
  src: url('SapientCentroSlab-ThinItalic.woff2') format('woff2'),
       url('SapientCentroSlab-ThinItalic.woff') format('woff'),
       url('SapientCentroSlab-ThinItalic.ttf') format('truetype'),
       url('SapientCentroSlab-ThinItalic.svg#SapientCentroSlab-ThinItalic') format('svg'),
       url('SapientCentroSlab-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab-Thin';
  src: url('SapientCentroSlab-Thin.eot');
  src: url('SapientCentroSlab-Thin.woff2') format('woff2'),
       url('SapientCentroSlab-Thin.woff') format('woff'),
       url('SapientCentroSlab-Thin.ttf') format('truetype'),
       url('SapientCentroSlab-Thin.svg#SapientCentroSlab-Thin') format('svg'),
       url('SapientCentroSlab-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab';
  src: url('SapientCentroSlab.eot');
  src: url('SapientCentroSlab.woff2') format('woff2'),
       url('SapientCentroSlab.woff') format('woff'),
       url('SapientCentroSlab.ttf') format('truetype'),
       url('SapientCentroSlab.svg#SapientCentroSlab') format('svg'),
       url('SapientCentroSlab.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SapientCentroSlab-Medium';
  src: url('SapientCentroSlab-Medium.eot');
  src: url('SapientCentroSlab-Medium.woff2') format('woff2'),
       url('SapientCentroSlab-Medium.woff') format('woff'),
       url('SapientCentroSlab-Medium.ttf') format('truetype'),
       url('SapientCentroSlab-Medium.svg#SapientCentroSlab-Medium') format('svg'),
       url('SapientCentroSlab-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab-MediumItalic';
  src: url('SapientCentroSlab-MediumItalic.eot');
  src: url('SapientCentroSlab-MediumItalic.woff2') format('woff2'),
       url('SapientCentroSlab-MediumItalic.woff') format('woff'),
       url('SapientCentroSlab-MediumItalic.ttf') format('truetype'),
       url('SapientCentroSlab-MediumItalic.svg#SapientCentroSlab-MediumItalic') format('svg'),
       url('SapientCentroSlab-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab-LightItalic';
  src: url('SapientCentroSlab-LightItalic.eot');
  src: url('SapientCentroSlab-LightItalic.woff2') format('woff2'),
       url('SapientCentroSlab-LightItalic.woff') format('woff'),
       url('SapientCentroSlab-LightItalic.ttf') format('truetype'),
       url('SapientCentroSlab-LightItalic.svg#SapientCentroSlab-LightItalic') format('svg'),
       url('SapientCentroSlab-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab-Light';
  src: url('SapientCentroSlab-Light.eot');
  src: url('SapientCentroSlab-Light.woff2') format('woff2'),
       url('SapientCentroSlab-Light.woff') format('woff'),
       url('SapientCentroSlab-Light.ttf') format('truetype'),
       url('SapientCentroSlab-Light.svg#SapientCentroSlab-Light') format('svg'),
       url('SapientCentroSlab-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SapientCentroSlab-Italic';
  src: url('SapientCentroSlab-Italic.eot');
  src: url('SapientCentroSlab-Italic.woff2') format('woff2'),
       url('SapientCentroSlab-Italic.woff') format('woff'),
       url('SapientCentroSlab-Italic.ttf') format('truetype'),
       url('SapientCentroSlab-Italic.svg#SapientCentroSlab-Italic') format('svg'),
       url('SapientCentroSlab-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab-BoldItalic';
  src: url('SapientCentroSlab-BoldItalic.eot');
  src: url('SapientCentroSlab-BoldItalic.woff2') format('woff2'),
       url('SapientCentroSlab-BoldItalic.woff') format('woff'),
       url('SapientCentroSlab-BoldItalic.ttf') format('truetype'),
       url('SapientCentroSlab-BoldItalic.svg#SapientCentroSlab-BoldItalic') format('svg'),
       url('SapientCentroSlab-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab-Bold';
  src: url('SapientCentroSlab-Bold.eot');
  src: url('SapientCentroSlab-Bold.woff2') format('woff2'),
       url('SapientCentroSlab-Bold.woff') format('woff'),
       url('SapientCentroSlab-Bold.ttf') format('truetype'),
       url('SapientCentroSlab-Bold.svg#SapientCentroSlab-Bold') format('svg'),
       url('SapientCentroSlab-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab-BlackItalic';
  src: url('SapientCentroSlab-BlackItalic.eot');
  src: url('SapientCentroSlab-BlackItalic.woff2') format('woff2'),
       url('SapientCentroSlab-BlackItalic.woff') format('woff'),
       url('SapientCentroSlab-BlackItalic.ttf') format('truetype'),
       url('SapientCentroSlab-BlackItalic.svg#SapientCentroSlab-BlackItalic') format('svg'),
       url('SapientCentroSlab-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SapientCentroSlab-Black';
  src: url('SapientCentroSlab-Black.eot');
  src: url('SapientCentroSlab-Black.woff2') format('woff2'),
       url('SapientCentroSlab-Black.woff') format('woff'),
       url('SapientCentroSlab-Black.ttf') format('truetype'),
       url('SapientCentroSlab-Black.svg#SapientCentroSlab-Black') format('svg'),
       url('SapientCentroSlab-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
